<div class="socials">
    <a class="socials__link" href="">
        <span class="icon-instagram"></span>
    </a>
    <a class="socials__link" href="">
        <span class="icon-facebook"></span>
    </a>
    <a class="socials__link" href="">
        <span class="icon-vk"></span>
    </a>
    <a class="socials__link" href="">
        <span class="icon-ok"></span></a>
    <a class="socials__link" href="">
        <span class="icon-twitter"></span>
    </a>
    <a class="socials__link" href="">
        <span class="icon-google"></span>
    </a>
    <a class="socials__link" href="">
        <span class="icon-youtube"></span>
    </a>
</div>